<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/chota.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">

    <script>
        function registerVisit(e) {
            if (!e.target.dataset.id) {
                return true;
            }
            var url = "/news/"+e.target.dataset.id+"/visits";
            var params = "";
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.addEventListener("load", function () {
                window.location.href = e.target.href;
            });
            xhr.addEventListener("error", function () {
                window.location.href = e.target.href;
            });

            //Send the proper header information along with the request
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhr.send(params);
            e.preventDefault()
        }

        window.onload = function() {
            var anchors = document.getElementsByClassName('news-url')
            for(var i = 0; i < anchors.length; i++) {
                var anchor = anchors[i];
                anchor.onclick = registerVisit
            }
        }
    </script>
    <title>PrimiciaEns</title>
</head>
<body>
    <div class="header">
        <section>
            <img class="logo" src="/static/logo.png"/>
            <h1 class="title"><a href="/">primicia<strong>ens</strong></a></h1>
        </section>
    </div>
