% include('header.html', title='Page Title')
<div class="news">
    <ol class="news-list" start="{{ start }}">
        % for new in news:
        <li class="news-item">
            <div class="news-title">
                <a
                data-id="{{ new['id'] }}"
                class="news-url"
                href="{{ new['url'] }}">
                    {{new['title']}}
                </a> <small class="text-gray">({{ new["website"] }})</small>
            </div>
            <small class="text-gray">
                {{ new["visits"]+1 }} {{ "punto" if new["visits"] == 0 else "puntos" }}
                - {{ ellapsed_time(new["datetimeAdded"]) }}
            </small>
        </li>
        % end
    </ol>
    <hr class="footer-divider" />
    <div class="paging">
        <a class="button primary" href="/news?p={{ int(page) + 1 }}">ver más</a>
    </div>
</div>
% include('footer.html')
