small {
  font-size: 1rem;
}

.header {
  margin: 1.5rem auto 0 auto;
  background-color: #14854f;
  width: 80vw;
  padding: 0 0 0 2rem;
}

.header .title {
  font-size: 2rem;
  margin: 0;
}
.header .title a {
  color: #ffffff;
}

.news {
  background-color: #fffae68f;
  width: 80vw;
  margin: 0 auto;
}

.news ol {
  margin: 0;
}

.news-title {
  margin-bottom: -1rem;
}

.news-title a {
  font-size: 1.4rem;
}

.footer-divider {
  background-color: #d43939;
  height: 0.3rem;
}

.paging {
  text-align: center;
  margin-bottom: 3rem;
}